<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NELA API</title>
    <!-- Add Vue.js and vee-validate from CDN -->
    <script src="js/vue.global.js"></script>
    <script src="js/vee-validate.iife.js"></script>
    <script src="js/vee-validate-rules.js"></script>
    <!-- Add Bootstrap CSS from CDN -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
  </head>

  <body>
    <div id="app">
      <nav class="navbar fixed-top bg-primary navbar-expand-lg" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="assets/scata.svg" alt="Bootstrap" width="30" height="30" />
            NELA Risk Calc API
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a
                  :class="(tab === 'demo') ? 'active': ''"
                  class="nav-link"
                  aria-current="page"
                  href="#"
                  @click="tab = 'demo'"
                  >Demo</a
                >
              </li>
              <li class="nav-item">
                <a :class="(tab === 'ref') ? 'active': ''" class="nav-link" href="#" @click="tab = 'ref'"
                  >API Reference</a
                >
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Resources
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li>
                    <a class="dropdown-item" href="https://www.nela.org.uk/Audit-info-Documents#pt"
                      >NELA reference docs</a
                    >
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="https://github.com/scatauk/nela-api">Source code</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div v-if="tab === 'ref'" class="container mt-5">
        <h1 class="pt-4">API Reference</h1>
        <hr />
        <!-- API REFERENCE CONTENT -->
        <div class="main-content">
          <div class="container-fluid">
            <h3 class="page-title">/nela-risk</h3>
            <h4 class="page-title">Lorem ipsum dolor</h4>
            <p>
              Todo... <code>here</code> watch this space.
            </p>
            <div class="row">
              <div class="col-md-7">
                <!-- TABLE HOVER -->
                <div class="panel">
                  <div class="panel-heading">
                    <h3 class="panel-title">Request body</h3>
                  </div>
                  <div class="panel-body">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Parameter</th>
                          <th>Type</th>
                          <th>Example</th>
                          <th>Description</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="(field, index) in referenceSchema" :key="index">
                          <td>{{ index }}</td>
                          <td><code>{{ field.type }}</code></td>
                          <td><code>{{ field.value }}</code></td>
                          <td>
                            {{ field.name }}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- END TABLE HOVER -->
              </div>
              <div class="col-md-5">
                <!-- TABLE HOVER -->
                <div class="panel">
                  <div class="panel-heading">
                    <h3 class="panel-title">Response</h3>
                  </div>
                  <div class="panel-body">
                    <pre>
{
  "predictedRisk": 22.151,
  "debug": {
    "ageComponent": 0.0666,
    "asaComponent": 1.13007,
    "asaAgeInteraction": -0.03021,
    "albuminComponent": -1.2969,
    "pulseComponent": -0.08022,
    "systolicBP_Component": -0.0195,
    "lnUreaComponent": 0.01744677484400017,
    "lnWBCComponent": 0.0034741681078890863,
    "gcsComponent": 0.41557,
    "malignancyComponent": 0.5061,
    "respiratoryComponent": 0.607,
    "urgencyComponent": 0.14779,
    "indicationComponent": 0.02812,
    "soilingComponent": 0.29453
  }
}</pre
                    >
                  </div>
                </div>
                <!-- END TABLE HOVER -->
              </div>
            </div>
          </div>
        </div>
        <!-- END API REFERENCE CONTENT -->
      </div>
      <div v-if="tab === 'demo'" class="container mt-5">
        <h1 class="pt-4">Demo</h1>
        <hr />
        <v-form class="row" v-slot="{ errors }">
          <div class="col-6 mb-3" v-for="(field, index) in schema" :key="index">
            <label :for="camelCase(field.name)" class="form-label">{{ field.name }}</label>
            <div v-if="field.enum">
              <select @change="result = null" :id="camelCase(field.name)" class="form-select" v-model="field.value">
                <option v-for="(option, index) in field.enum" :key="index" :value="option">{{ option }}</option>
              </select>
            </div>
            <div v-else-if="field.type === 'boolean'">
              <select @change="result = null" :id="camelCase(field.name)" class="form-select" v-model="field.value">
                <option :value="true">true</option>
                <option :value="false">false</option>
              </select>
            </div>
            <div v-else :class="field.name === 'indication for surgery' ? 'input-group' : ''">
              <v-field
                as="input"
                v-slot="{ field }"
                @keyup="result = null;"
                @keypress="isNumber($event, field.type)"
                @change="result = null"
                :type="(field.type === 'integer' || field.type === 'number') ? 'number' : field.type"
                :rules="validationRule(field)"
                :name="camelCase(field.name)"
                :id="camelCase(field.name)"
                class="form-control"
                :class="{ 'is-invalid': errors[camelCase(field.name)] }"
                v-model="field.value"
                v-slot="{ field, errors, errorMessage }"
                :readonly="field.name === 'indication for surgery' ? true : false"
                :aria-describedby="field.name === 'indication for surgery' ? 'button-addon' : ''"
              >
                <input v-bind="field" class="form-control" />
              </v-field>
              <button
                v-if="field.name === 'indication for surgery'"
                class="btn btn-outline-secondary"
                type="button"
                id="button-addon"
                data-bs-target="#setIndications"
                data-bs-toggle="modal"
                @click="result = null"
              >
                Set
              </button>
            </div>
            <error-message :name="camelCase(field.name)" class="text-danger" />
          </div>
          <div
            class="modal fade"
            id="setIndications"
            tabindex="-1"
            aria-labelledby="setIndicationsModalTitle"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="setIndicationsModalTitle">Set indications</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div v-for="(indication, key) in indications" :key="key">
                    <h6 class="mt-3">{{ key }}</h6>
                    <div class="form-check" v-for="option in indication">
                      <input
                        v-model="chosenIndications[key][option]"
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        :id="camelCase(option)"
                      />
                      <label class="form-check-label" :for="camelCase(option)"> {{ option }} </label>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @click="changeInd()">
                    Done
                  </button>
                </div>
              </div>
            </div>
          </div>
          <button
            class="btn btn-primary mt-3"
            id="submitForm"
            @click="submitForm"
            :disabled="Object.keys(errors).length"
          >
            Submit
          </button>
        </v-form>
        <div class="mt-3" v-if="result !== null">
          <h2>Result</h2>
          <pre>Predicted mortality risk: {{ result.predictedRisk }}%</pre>
          <button class="btn btn-primary" @click="reset()">Reset</button>
          <h6 class="mt-5">Request sent:</h6>
          <pre>{{ request }}</pre>
          <h6>Response received:</h6>
          <pre>{{ result }}</pre>
        </div>
      </div>
    </div>

    <script>
      const { createApp, ref } = Vue;
      const { Form, Field, defineRule, ErrorMessage, useFieldError } = VeeValidate;
      const { min_value, max_value } = VeeValidateRules;

      defineRule('required', (value) => {
        if (!value) {
          return 'This field is required';
        }
        return true;
      });
      defineRule('integer', (value) => {
        return Number.isInteger(value) || 'The value must be a whole number';
      });
      defineRule('number', (value) => {
        if (!value) {
          return 'The value must be a number';
        }
        if (parseFloat(value) === NaN) {
          return 'The value must be a number';
        }
        return true;
      });

      defineRule('min_value', min_value);
      defineRule('max_value', max_value);

      createApp({
        setup() {
          //
        },
        data() {
          return {
            schema: {},
            referenceSchema: {},
            result: null,
            request: {},
            tab: 'demo',
            chosenIndications: {
              Bleeding: [],
              Other: [],
              Obstruction: [],
              Sepsis: [],
              'Iatrogenic injury': [],
              Ischaemia: [],
            },
            indications: {
              Bleeding: ['Haemorrhage'],
              Other: ['Abdominal wound dehiscence', 'Abdominal compartment syndrome', 'Planned relook', 'Other'],
              Obstruction: [
                'Tender Small bowel obstruction',
                'Non-Tender Small bowel obstruction',
                'Tender Large bowel obstruction',
                'Non-Tender Large bowel obstruction',
                'Gastric outlet obstruction',
                'Incarcerated/strangulated hernia',
                'Hiatus Hernia/para-oesophageal hernia',
                'Volvulus',
                'Internal hernia',
                'Obstructing incisional hernia',
                'Intussusception',
                'Pseudo-obstruction',
                'Foreign body',
              ],
              Sepsis: [
                'Phlegmon',
                'Pneumoperitoneum',
                'Sepsis',
                'Iatrogenic injury',
                'Anastomotic leak',
                'Peritonitis',
                'GI Perforation',
                'Abdominal abscess',
                'Intestinal fistula',
              ],
              Ischaemia: ['Necrosis', 'Ischaemia/infarction', 'Colitis', 'Acidosis'],
            },
          };
        },
        components: {
          VForm: VeeValidate.Form,
          VField: VeeValidate.Field,
          ErrorMessage: VeeValidate.ErrorMessage,
        },
        methods: {
          changeInd() {
            const weight = {
              Bleeding: 1,
              Other: 2,
              Obstruction: 2,
              Sepsis: 3,
              Ischaemia: 4,
            };
            // get highest weight
            let max = 0;
            let maxKey = '';
            for (const key in this.chosenIndications) {
              for (const option in this.chosenIndications[key]) {
                if (this.chosenIndications[key][option]) {
                  max = weight[key];
                  maxKey = key;
                }
              }
            }
            this.schema.indicationForSurgery.value = maxKey.toLowerCase();
          },
          reset() {
            this.result = null;
          },
          isNumber: function (evt, t) {
            evt = evt ? evt : window.event;
            var charCode = evt.which ? evt.which : evt.keyCode;
            if (t === 'integer') {
              if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                evt.preventDefault();
              } else {
                return true;
              }
            }
            if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode !== 46) {
              evt.preventDefault();
            } else {
              return true;
            }
          },
          validationRule(field) {
            let rule = 'required';
            if (field.type === 'integer') {
              rule = `${rule}|integer`;
            }
            if (field.type === 'number') {
              rule = `${rule}|number`;
            }
            if (field.minimum) {
              rule = `${rule}|min_value:${field.minimum}`;
            }
            if (field.maximum) {
              rule = `${rule}|max_value:${field.maximum}`;
            }
            return rule;
          },
          camelCase(str) {
            // replace str with camelCase and no special chars
            return str.replace(/[^a-zA-Z0-9]/g, '').replace(/(?:^\w|[A-Z]|\b\w)/g, (word, index) => {
              return index === 0 ? word.toLowerCase() : word.toUpperCase();
            });
          },
          submitForm($event) {
            $event.preventDefault();
            const req = {};
            for (const key in this.schema) {
              req[key] = this.schema[key].value;
              if (this.schema[key].type === 'number') {
                req[key] = parseFloat(req[key]);
              }
              if (this.schema[key].type === 'integer') {
                req[key] = parseInt(req[key]);
              }
            }
            //const formData = this.schema;
            this.request = req;
            // Send form data to the server - http://localhost:3000/api/v1/nela
            fetch('http://localhost:3000/nela-risk', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
              },
              body: JSON.stringify(req),
            })
              .then((response) => response.json())
              .then((data) => {
                console.log('Success:', data);
                this.result = data;
              })
              .catch((error) => {
                console.error('Error:', error);
              });
          },
        },
        beforeMount() {
          // Fetch schema
          fetch('schema.json')
            .then((response) => response.text())
            .then((data) => {
              // Parse test data into an array of objects
              this.schema = JSON.parse(data).properties;
              // this is unchanged by front end for the API reference
              this.referenceSchema = JSON.parse(data).properties;
            })
            .catch((error) => {
              console.error('Error fetching schema data:', error);
            });
        },
      }).mount('#app');
    </script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
